@charset "utf-8";
/* 公共样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0;}
body{ font-size:12px; color:#666; font-family:"微软雅黑"; color: #000;}
body,html{background:#f9f9f9; /*overflow:hidden;*/}
img{ border:0;}
i{ font-style: normal;}
ol, ul { list-style:none;}
input:focus{outline:none;}
em { font-style:normal;}
a{ color: #000; text-decoration: none; outline: none;}
/*整体*/
.warp{width:100%; height:auto; margin:0px; padding:0px; background:#bcecff url(../img/silver/silver_bj.png) center center no-repeat; background-size:100%;}
/*平安 神州畅行页面开始*/
.silver_top{height:104px; width:100%; background:#fff;}
.silver_top_center{width:1200px; height:97px; margin:0 auto;}
.silver_top_center img{margin-top:20px;}
.silver_center{width:1200px; height:1250px; margin:0 auto;}
.silver_left{ height:660px; width:688px; float:left; margin-top:120px;}
.silver_right{ height:600px;  width:512px; float:left; margin-top:180px;}
.silver_h1{width:675px;  margin-bottom:50px;}
.left_title{width:675px; height:30px; line-height:30px; }
.left_title p{width:150px; height:30px; line-height:30px; text-align:center; color:#fff; background:#09568c;  font-size:14px;}
.left_div1{width:630px;}
.left_div2{margin-top:30px;}
.right_div{height:600px; width:430px; background:#fff; border-radius:5px; margin-left:75px;  -webkit-box-shadow:0 0 8px #09568c; -moz-box-shadow:0 0 8px #09568c; box-shadow:0 0 8px #09568c;}
.right_div_top{height:55px; line-height:55px; text-align:center; background:#09568c; color:#fff; font-size:25px; border-radius:5px 5px 0px 0px;}
.right_ul{height:360px; width:430px; margin-top:50px;}
.right_li{ height:50px; width:400px; margin:0px 20px 10px 10px;}
.right_li_left{line-height:50px; text-align:center; width:110px; float:left; font-size:14px;}
.right_li_right{width:200px;  float:left;}
.right_li_rigth input{height:35px; width:275px; padding-left:10px; margin-top:5px;}
.right_li_rigth1 input{margin-top:20px; vertical-align:bottom;}
/*省份城市*/
.select_1{ height: 35px; float: left; margin: 0px 10px 0px 8px; }
.select_1 dt{ width: 71px; line-height: 30px; padding-right: 10px; text-align: right; font-size: 14px; color: #333; float: left;}
.select_1 dd{ height: 35px; padding-left: 10px; line-height: 35px; border: 1px solid #D4D4D4; float: left; position: relative; border-radius: 3px; width:118px;  margin-top:5px; margin-left: -89px; background:#fff;}
.select_1 dd span{float: right; cursor: pointer; line-height:25px;  font-size: 14px; color:#fff; width: 30px; text-align: center; margin-top:3px; border-left:1px solid #ccc; padding-top:5px;}
.select_1 dd ul{ width: 100%; border: 1px solid #D4D4D4; position: absolute; left: -1px; top:36px; z-index: 99;  height:300px; line-height: 30px; overflow-y:auto; background:#fff;}
.select_1 dd ul li{ width: 80%; cursor: pointer; height:20px; left:10px; border:none; line-height:20px; padding-left:5px;}
.select_1 .none{ display: none;}
/*省份城市*/
.right_li p{ line-height:50px; text-align:center;}
.right_li p input{vertical-align:-1px;}
.right_but{width:430px; height:60px;  margin-top:50px;}
.right_but input{width:250px; background:#09568c; color:#fff; border:none; height:40px; margin-left:100px; font-size:18px; margin-top:10px; cursor:pointer; }
.silver_font{width:1200px; height:370px; float:left; margin-top:30px;}
.silver_p_one{height:50px; line-height:50px; font-size:18px;}
.silver_p_two{height:40px; line-height:40px;}
.silver_p_three{ line-height:25px;}
/*提示层*/
.silver_hide{width:auto; height:40px; line-height:40px; text-align:center; background:#000; padding:0px 10px;  opacity:0.5; filter:alpha(opacity:50); position:absolute; top:550px; left:1287px; border-radius:5px; color:#fff; font-size:14px; display:none;}
/*遮罩层*/
.silver_hide1{width:100%; height:100%; background:#000; position:fixed; left:0; top:0; opacity:0.5; filter:alpha(opacity:50); display:none;}
.silver_show{width:700px; height:300px; background:#fff; position:fixed; left:35%; top:30%; display:none;}
.show_div1{width:400px; height:90px; border-bottom:2px solid #CCC; margin:20px 0px 0px 150px; text-align:center; padding-top:10px;}
.show_div2{width:400px; margin:20px 0px 0px 150px; text-align:center; height:60px; }
.show_div2 p{line-height:25px; font-size:14px;}
.show_div3{width:400px; margin:30px 0px 0px 150px; text-align:center;}
.show_div3 input{background:none; border:none; width:150px; height:30px; color:#fff; background:#09568c	; cursor:pointer;}

select{padding: 9px 5px; width: 94px; margin-top: 6px}